  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  body {
  background-color: #525252;
  color: #000;
  font-family: Arial, sans-serif;
      
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
    }

    /* Navbar */
    .navbar {
      background-color: #000000;
    }
    .navbar-brand, .nav-link {
      color: #A3A3A3 !important;
      font-weight: 500;
    }
    .navbar-brand:hover, .nav-link:hover {
      color: #ffffff !important;
    }

    /* Cards */
    .crypto-card {
      border-radius: 15px;
      padding: 20px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
      transition: transform 0.2s ease-in-out;
    }
    .crypto-card:hover {
      transform: scale(1.02);
    }
    .crypto-info {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .crypto-logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .price {
      font-weight: bold;
      font-size: 18px;
    }
    .percent {
      font-weight: bold;
      font-size: 18px;
    }

     /* Cards-Graficos */
    .card {
      border-radius: 15px;
      box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    }

    /* Cards-historia */
    .card-historia {
      border-radius: 20px;
      box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
      background-color: white;
      color: black;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0px 12px 25px rgba(0,0,0,0.7);
    }
    .crypto-logo {
      width: 60px;
      height: 60px;
      object-fit: contain;
      border-radius: 50%;
      margin-right: 15px;
    }
    .card-title {
      font-weight: 600;
    }
    .card p {
      font-size: 0.95rem;
      text-align: justify;
    }

       /* Hero Section */
    .hero {
      text-align: center;
      padding: 60px 20px;
    }
    .hero h1 {
      font-weight: 700;
      font-size: 2.5rem;
    }
    .hero p {
      font-size: 1.1rem;
      color: #e0e0e0;
    }

    /* Footer */
    footer {
      background-color: #404040;
      color: white;
      padding: 30px 10px;
      text-align: center;
      margin-top: 40px;
    }
    .footer-social a {
      margin: 0 10px;
      display: inline-block;
    }
    .footer-social img {
      width: 35px;
      transition: transform 0.2s ease-in-out;
    }
    .footer-social img:hover {
      transform: scale(1.1);
    }
    .footer-links {
      margin: 15px 0;
    }
    .footer-links a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
    }
    .footer-links a:hover {
      text-decoration: underline;
    }